.ui-grid-a{
    margin:10px;
    padding:10px;
}
.ui-block-a,.ui-block-b{
    text-align:center;
    width: 100%;
    height:auto;
    padding:10px;
}
.ui-grid-a img{
    width:90%;
    height:auto;
}
.my-page{
    background-color:#E4E4E4;
}
/*.header{
    height:10%;
    width:auto;
}*/
.button{
    background:grey;
}