{{#each datas}}   
    <div class="nd2-card">
        <div class="card-title has-supporting-text">
                <h3 class="card-primary-title">សំណួរ</h3>
                <h5 class="card-subtitle">២០១០</h5>
        </div>

        <div class="card-supporting-text has-action has-title">
                {{{question}}}
        </div>

    </div>

    <div class="nd2-card">
       <div class="card-title has-supporting-text">
                <h3 class="card-primary-title">ចំលើយ</h3>
                
        </div>

        <div class="card-supporting-text has-action has-title">
                {{{answer}}}
        </div>
    </div>
{{/each}}  
    