<ul data-role="listview" data-inset="true">
                <li data-role="list-divider" class="khmer-Title" id="question-title"></li>
</ul>                
{{#each datas}}   
    <div class="nd2-card" style="background-color: white;">
        <div class="card-title has-supporting-text">
                <h3 class="card-primary-title khmer-Title" style="padding:10px 0;font-size:17px;">សំណួរ</h3>
        </div>

        <div class="card-supporting-text has-action has-title khmer-text">
               
                {{{question}}}
                
        </div>

        <div class="card-action">
            <div class="row between-xs">
                <div class="col-xs-12">
                    <div class="box">
                            <a href="#question-answer" onclick="bacIIModel.fetchAnswer({{id}})" class="ui-btn ui-btn-inline" data-transition="slide" style="text-transform:none;color:blue;">ចំលើយ</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
{{/each}}